.header-arrow1{
    width: 800px;
    height: 800px;
    position: absolute;
    background-color: $arrow3-color;
    transform: rotate(45deg);
    top: -400px;
    left: -410px;
    box-shadow: 12px -12px  15px 10px $arrow-shadow-color;
    
    z-index: -1;
    .header-arrow2{
        z-index: -2;
        background-color: $arrow4-color;
        width: inherit;
        height: inherit;
        position: relative;
        top: -100px;
        left: -100px;
        box-shadow: 12px -12px  15px 10px $arrow-shadow-color;
    }
}

.header-arrow3{
    width: 1200px;
    height: 1200px;
    position: absolute;
    background-color: $arrow3-color;
    transform: rotate(45deg);
    bottom: -600px;
    right: -610px;
    z-index: -1;
    box-shadow: -12px 12px  15px 10px $arrow-shadow-color;

    .header-arrow4{
        background-color: $arrow4-color;
        width: inherit;
        height: inherit;
        position: relative;
        top: -100px;
        right: -100px;
        box-shadow: -12px 12px  15px 10px $arrow-shadow-color;
    }
}