@media only screen and(max-height: 650px){
    #header,#bio,#projects,#contact {
        height: 630px;
    }
}
@media only screen and (max-width: 1600px ),(max-height: 900px){
    .header-arrow3{
        right: $arrow-big-right - 140px;
    }
}
@media only screen and (max-width: 1350px ),(max-height: 750px){
    main{
        header {
            .header-text{
                width: 450px;
                h3{
                    font-size: 35px;
                }
                .header-text-p1{
                    font-size: 30px;
                }
                .header-text-p2{
                    font-size: 18px;
                }
            }
        }
    }
    .header-arrow1{
        left: $arrow-small-left - 120px;
    }
    .header-arrow3{
        right: $arrow-big-right - 220px;
    }
}
@media only screen and (max-width: 1100px ){
    main{
        header {
            .header-text{
                width: 400px;
                h3{
                    font-size: 32px;
                }
                .header-text-p1{
                    font-size: 28px;
                }
                .header-text-p2{
                    font-size: 16px;
                }
                .scroll-btn{
                    width: 40%;
                    i {
                        font-size: 25px;
                    }
                    p{
                        font-size: 18px;
                    }
                }
            }
        }
    }
    .header-arrow1{
        left: $arrow-small-left - 140px;
    }
    .header-arrow3{
        right: $arrow-big-right - 240px;
    }
}
@media only screen and (max-width: 900px ){
    .header-arrow1{
        left: $arrow-small-left - 200px;
        .header-arrow2{
            top: -70px;
            left: -70px;
        }
    }
    .header-arrow3{
        right: $arrow-big-right - 320px;
        .header-arrow4{
            top: -70px;
            right: -70px;
        }
    }
}
@media only screen and (max-width: 700px ){
    .header-arrow1{
        left: $arrow-small-left - 250px;
    }
    .header-arrow3{
        right: $arrow-big-right - 400px;
    }
}
@media only screen and (max-width: 500px ){
    main{
        header {
            .header-text{
                width: 250px;
                h3{
                    font-size: 22px;
                }
                .header-text-p1{
                    margin-top: 10px;
                    font-size: 20px;
                }
                .header-text-p2{
                    margin-top: 10px;
                    font-size: 13px;
                }
                .scroll-btn{
                    margin-top: 20px;
                    width: 50%;
                    height: 50px;
                    i {
                        font-size: 28px;
                    }
                    p{
                        font-size: 18px;
                    }
                }
            }
        }
    }
    .nav{
        &-btns{
            &-btn{
                a{
                    font-size: 25px;
                }
            }
        }
    }
    .header-arrow1{
        left: $arrow-small-left - 280px;
    }
    .header-arrow3{
        right: $arrow-big-right - 450px;
    }
}
@media only screen and (max-width: 400px){
    .header-arrow1{
        left: $arrow-small-left - 340px;
        .header-arrow2{
            top: -50px;
            left: -50px;
        }
    }
    .header-arrow3{
        right: $arrow-big-right - 550px;
        .header-arrow4{
            top: -50px;
            right: -50px;
        }
    }
}
@media only screen and (max-width: 340px){
    main{
        header {
            .header-text{
                width: 250px;
                h3{
                    font-size: 20px;
                }
                .header-text-p1{
                    margin-top: 5px;
                }
                .header-text-p2{
                    margin-top: 5px;
                    font-size: 12px;
                }
                .scroll-btn{
                    width: 40%;
                    i {
                        font-size: 26px;
                    }
                    p{
                        font-size: 15px;
                    }
                }
            }
        }
    }
    .header-arrow1{
        left: $arrow-small-left - 370px;
    }
    .header-arrow3{
        right: $arrow-big-right - 570px;
    }
}