$primary-color : whitesmoke;
$secondary-color: lightblue;
$primary-font-color: black;
$secondary-font-color: white;
$nav-background-color: lightblue;

$arrow2-color:rgb(255, 60, 0);
$arrow3-color:orange;
$arrow4-color:lightblue;
$arrow-shadow-color: rgba(0, 0, 255, .2);