@import "variables";
@import "nav";
@import "arrows";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans JP", sans-serif;
  ::selection {
    background: #ffb7b7;
  }
}
html {
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: #fff;
}
::-webkit-scrollbar-thumb {
  background: #2193b0;
}
::-webkit-scrollbar-thumb:hover {
  background: #19758b;
}
body {
  max-width: 2000px;
  background: var(--light-white-bg);
  margin: 0 auto;
  transition: background 0.3s;
}
.loader {
  position: fixed;
  width: 100%;
  height: 100vh;
  background: var(--spinner-bg-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--primary-font-color);
  text-align: center;
  z-index: 100;
  h1 {
    font-size: 2.5rem;
    margin-bottom: 50px;
    color: var(--white-color);
  }
  .spinner {
    animation: rotate 2s linear infinite;
    z-index: -1;
    margin: 0;
    width: 70px;
    height: 70px;

    & .path {
      stroke: #0070e0;
      stroke-linecap: round;
      animation: dash 1.5s ease-in-out infinite;
    }
  }

  @keyframes rotate {
    100% {
      transform: rotate(360deg);
    }
  }

  @keyframes dash {
    0% {
      stroke-dasharray: 1, 150;
      stroke-dashoffset: 0;
    }
    50% {
      stroke-dasharray: 90, 150;
      stroke-dashoffset: -35;
    }
    100% {
      stroke-dasharray: 90, 150;
      stroke-dashoffset: -124;
    }
  }
}
main {
  overflow: hidden;
}
header {
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  .header-text {
    width: 600px;
    color: var(--primary-font-color);
    text-align: center;

    h3 {
      font-size: 50px;
      border-bottom: 1px solid var(--primary-font-color);
    }
    .header-text-p1 {
      margin-top: 15px;
      font-size: 35px;
    }
    .header-text-p2 {
      margin-top: 15px;
      font-size: 20px;
    }
    .scroll-btn {
      position: relative;
      left: 50%;
      transform: translateX(-50%);
      margin-top: 20px;
      width: 200px;
      height: 50px;
      background: var(--orange-color);
      border-radius: 50px;
      border: none;
      display: flex;
      overflow: hidden;
      color: var(--white-color);
      transition: 0.3s ease-in;
      cursor: pointer;
      i,
      p {
        width: 100%;
        height: 100%;
        text-align: center;
      }
      i {
        position: absolute;
        top: -100%;
        transition: 0.3s;
        font-size: 30px;
      }
      p {
        position: absolute;
        bottom: 0;
        transition: 0.3s;
        font-size: 25px;
        line-height: 50px;
      }
      &:hover i {
        top: 50%;
        transform: translateY(-25%);
      }
      &:hover p {
        bottom: -100%;
      }
      &.circle {
        position: fixed;
        width: 50px;
        height: 50px;
        bottom: 20px;
        left: 50px;
        transition: 0.3s;
        z-index: 1;
        p {
          display: none;
        }
        i {
          top: -10px;
          transform: rotate(180deg);
          transition: 0.3s ease-in;
        }
        &:hover {
          bottom: 25px;
        }
      }
    }
  }
}
.container {
  position: relative;
  width: 100%;
  padding: 8% 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  &-title {
    position: absolute;
    top: 20px;
    left: 10px;
    padding: 0 5px;
    color: var(--primary-font-color);
    font-size: 30px;
    font-weight: bolder;
    opacity: 1;
    transition: 0.5s;
  }
  &-scroll {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
    opacity: 1;
    bottom: 0;
    transition: 0.7s;
  }
  &-exp {
    color: var(--primary-font-color);
    font-size: 25px;
    border-bottom: 2px solid var(--primary-font-color);
    width: 80%;
  }
  &-content {
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    &-cards {
      position: relative;
      width: 350px;
      min-height: 300px;
      padding: 15px;
      display: flex;
      flex-direction: column;
      justify-content: baseline;
      align-items: center;
      text-align: center;
      transition: 0.3s;
      top: 0;
      cursor: pointer;

      &-img {
        width: 150px;
        height: 150px;
        margin: 0 auto;
        border-radius: 50%;
        overflow: hidden;

        img {
          width: 100%;
          height: 100%;
        }
      }
      &-title {
        margin-top: 30px;
        color: var(--primary-font-color);
      }
      &-text {
        margin-top: 10px;
        color: var(--primary-font-color);
        span {
          display: block;
          margin-top: 20px;
        }
        a {
          display: block;
          margin: 20px 0;
          color: var(--primary-font-color);
          text-decoration: none;
        }
        &-icons {
          font-size: 30px;
        }
        .project-link {
          font-size: 22px;
          i {
            font-size: 30px;
          }
        }
      }
      &:hover {
        top: -10px;
        box-shadow: 12px 12px 20px 5px var(--orange-color), -12px 12px 20px 5px var(--blue-color);
      }
      &-logo {
        font-size: 60px;
        color: var(--primary-font-color);
      }
      .contact-txt {
        display: flex;
        flex-direction: column;
        color: var(--primary-font-color);
        a {
          color: var(--primary-font-color);
          margin-top: 15px;
          font-size: 14px;
        }
      }
    }
  }
  .last-card {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: var(--primary-font-color);
    &-up {
      color: var(--primary-font-color);
      font-size: 25px;
      width: 80%;
      border-bottom: 2px solid var(--primary-font-color);
    }
    &-down {
      margin-top: 15px;
      width: 100%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
      &-elements {
        margin: 15px;
        color: var(--primary-font-color);
        &-img {
          width: 100px;
          height: 100px;
          img {
            width: 100%;
            height: 100%;
          }
        }
      }
    }
  }
  .hide {
    top: auto;
    bottom: -300px;
    opacity: 0;
  }
  .hideTitle {
    left: -150%;
    opacity: 0;
  }
  &-modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 0 15px -1px var(--primary-font-color);
    position: fixed;
    padding: 50px;
    top: 10px;
    bottom: 10px;
    left: 10px;
    right: 10px;
    background-color: var(--light-white-bg);
    border-radius: 20px;
    z-index: 9999;
    transform: translateY(110%);
    transition: all 0.3s;
    &-scroll {
      overflow-x: hidden;
      overflow-y: auto;
      width: 100%;
      height: 100%;
    }
    &-close {
      display: block;
      position: absolute;
      top: 20px;
      right: 20px;
      font-size: 2rem;
      background-color: var(--orange-color);
      color: var(--secondary-font-color);
      width: 25px;
      height: 25px;
      border-radius: 3px;
      cursor: pointer;
      span {
        margin: 0;
        position: absolute;
        top: 52%;
        left: 50%;
        transform: translate(-42%, -54%) rotate(45deg);
      }
    }
    &.active {
      transform: translateY(0);
    }
    &-up {
      color: var(--primary-font-color);
      &-title {
        font-size: 2.5rem;
      }
      &-desc {
        margin: 30px 0;
      }
      &-link {
        a {
          text-decoration: none;
        }
      }
    }
    &-down {
      position: relative;
      border: 2px solid var(--light-white-bg);
      margin-top: 30px;
      width: 100%;
      min-height: 80%;
      i {
        color: var(--primary-font-color);
      }
      &-bgIcon {
        position: absolute;
        top: 50%;
        left: 50%;
        font-size: 3rem;
        z-index: -1;
      }
      iframe {
        min-height: 700px;
        width: 100%;
        height: 100%;
      }
    }
  }
}
footer {
  width: 100%;
  height: 80px;
  background: linear-gradient(to right, var(--arrow-gradient-inner));
  display: flex;
  justify-content: center;
  align-items: center;
  P {
    color: var(--white-color);
  }
}

@import "mediaQueries";
